
@font-face {
  font-family: 'GoboldBold';
  src: url('GoboldBold.eot?#iefix') format('embedded-opentype'),  
       url('GoboldBold.woff') format('woff'), 
       url('GoboldBold.ttf')  format('truetype'), 
       url('GoboldBold.svg#GoboldBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
