@import "../webfonts/style.css";
.construccion {
  background: #092C47;
  color: #ffffff;
  height: 100vh;
  padding: 3rem 0;
}
.construccion img {
  width: 600px;
  height: auto;
  margin: 0 auto 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 5px solid #ffffff;
}
.construccion h1 {
  font-family: "GoboldBold";
  text-transform: uppercase;
  margin: 1rem 0 1.5rem;
  font-size: 2rem;
}
.construccion p {
  margin-bottom: 0;
  font-size: 15px;
}
.construccion a {
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.construccion a:hover {
  color: #56CDEE;
}
.construccion .content-info {
  margin-bottom: 1rem;
}
.construccion ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem auto 2rem;
}
.construccion ul li {
  display: inline-block;
  font-size: 3rem;
  padding: 0 0.5rem;
  font-weight: 300;
}
.construccion ul li i {
  font-size: 3rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.construccion ul li i:hover {
  color: #56CDEE;
}
.construccion footer {
  font-family: "GoboldBold";
  margin-bottom: 1rem;
}

@media only screen and (max-width: 425px) {
  .construccion img {
    width: 90%;
  }
  .construccion h1 {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
